# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
#Create path to open the file
google_maps_data = "../starter_code/cities.csv"

In [6]:
##Read the csv file as pandas
city_weather = pd.read_csv(google_maps_data)
#Create data frame with the columns shown in the table of the solution.
city_weather2 = city_weather[["City", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Country", "Date"]]
city_weather2.head(30)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,umzimvubu,-42.88,147.33,66.20,59,75,18.34,AU,1602723909
1,hobart,-45.87,170.50,46.99,61,0,18.99,NZ,1602724135
2,dunedin,71.97,102.50,18.07,97,100,11.50,RU,1602723726
3,khatanga,-19.98,23.42,77.00,44,2,20.80,BW,1602724136
4,maun,22.08,-159.32,84.20,66,40,11.41,US,1602724136
5,warqla,14.53,20.92,84.11,17,92,8.12,TD,1602724136
6,kapaa,-20.23,164.02,75.56,81,100,5.79,NC,1602724136
7,biltine,64.86,-147.80,26.60,68,90,4.70,US,1602724136
8,poum,3.07,172.79,82.13,75,80,10.96,KI,1602724136
9,college,78.22,15.64,28.40,79,75,3.36,SJ,1602724136
10,butaritari,17.49,44.13,64.40,33,0,2.39,SA,1602724061
11,longyearbyen,-16.48,-151.75,78.94,78,0,11.83,PF,1602724137
12,najran,-53.15,-70.92,48.20,61,75,14.99,CL,1602724137
13,faanui,-21.36,55.77,73.40,64,75,6.93,RE,1602724137
14,punta arenas,-31.43,152.92,82.00,27,0,1.99,AU,1602724137
15,saint-philippe,69.38,178.42,34.18,87,100,7.83,RU,1602724137
16,port macquarie,-22.97,-42.03,72.48,94,3,12.30,BR,1602724137
17,leningradskiy,60.72,-135.05,41.00,48,20,2.24,CA,1602723884
18,arraial do cabo,20.93,-17.03,78.80,69,44,11.41,MR,1602724138
19,barentsburg,-9.80,-139.03,77.94,74,3,20.11,PF,1602724138
20,whitehorse,48.93,-125.55,55.40,76,40,11.41,CA,1602724036
21,nouadhibou,62.23,-6.59,44.60,75,99,4.70,FO,1602724138
22,atuona,-20.74,116.85,94.60,21,0,6.51,AU,1602723883
23,ucluelet,-38.00,-57.56,51.80,66,0,11.41,AR,1602724029
24,klaksvik,-2.02,147.27,85.98,66,100,5.82,PG,1602724138
25,karratha,-3.80,102.27,79.83,77,100,2.95,ID,1602724060
26,mar del plata,-23.12,-134.97,73.69,81,100,18.03,PF,1602724139
27,lorengau,0.38,9.78,78.80,83,40,9.17,GA,1602724139
28,bengkulu,-33.87,121.90,59.00,100,90,14.99,AU,1602723926
29,rikitea,30.95,113.55,59.00,93,90,4.47,CN,1602724139

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure